* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #0B0B0B;

}

:root {
    --black: #0B0B0B;
    --libre-bodoni: 'Libre Bodoni', 'Times New Roman', serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.centralized {
    margin-left: 16.5vw;
    margin-right: 16.5vw;
}

button {
    font-family: var(--libre-bodoni);
    font-weight: 400;
    text-align: center;
    font-size: 22px;
    height: 75px;
    width: 250px;
    border: solid var(--black) 3px;
    border-radius: 2px;
    background-color: #fff;
    margin: 0 30px;
}

button:hover {
    background-color: var(--black);
    color: #fff;
}

.buttons {
    width: fit-content;
    margin: auto;
    margin-top: 70px;
}

.intro h1 {
    font-family: var(--libre-bodoni);
    font-weight: 400;
    text-align: center;
    font-size: 13.5vw;
    overflow: hidden;
    white-space: nowrap;
    margin-left: -2vw;
    margin-top: -28vh;
    position: absolute;
}

.intro p {
    font-weight: 300;
    text-align: center;
    font-size: 3vw;
    margin-top: 420px;
}

.txt h2{
    font-family: var(--libre-bodoni);
    font-weight: 400;
    font-size: 50px;
    margin-top: 450px;
    margin-bottom: 34px;
}

.about .txt {
    width: 28vw;
}

/** imgs **/

.notebook {
    width: 892px;
    position: absolute;
    top: 930px;
    left: 54vw;
}

.txt a img {
    height: 50px;
    width: auto;
    margin: 50px 50px 0 0;
}