:root {
  --clr-primary-100: #ffffff;
  --clr-primary-500: hsl(0, 0, 0);

  --clr-accent-500: hsl(0, 0%, 95%);

  --ff-primary: 'Playfair Display', serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-500: 500;
  --fw-700: 700;

  --fs-500: 1rem;
  --fs-800: 4.188rem;
  --fs-900: 5.313rem;

  --fs-body: var(--fs-500);
  --fs-heading-primary: var(--fs-900);
  --fs-heading-secondary: var(--fs-800);

  --size-300: 2.25rem;
  --size-400: 3.75rem;
  --size-500: 6.5rem;

}

@media (min-width: 50em) {
  :root {
    --fs-500: 1.375rem;
    --fs-800: 9.27rem;
    --fs-900: 9.27rem;
  }
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */
.text-400 {
  color: var(--clr-primary-500);
}

.fw-medium {
  font-weight: var(--fw-500);
}

.fw-bold {
  font-weight: var(--fw-700);
}

.fs-primary-heading {
  font-size: var(--fs-900);
}

@media (max-width: 370px) {
  .fs-primary-heading {
    font-size: 22vw;
  }
}

.fs-secondary-heading {
  font-size: var(--fs-800);
}

.fs-body {
  font-size: var(--fs-500);
}

.padding-block-400 {
  padding-block: var(--size-400);
}

.padding-block-500 {
  padding-block: var(--size-500);
}

.padding-bottom-500 {
  padding-bottom: var(--size-500);
}

.container {
  --max-width: 1280px;
  --padding: 1.2rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;

  font-family: var(--ff-body)
}

.header-container {
  --max-width: 1696px;
  --padding: 1.2rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;

  font-family: var(--ff-heading);
}



/* General styling */

/* fist navbar */
.personal-presentation {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding-top: 2vh;
}

.primary-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: var(--clr-primary-100);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 0;
  left: 0;
}

@media (min-width: 50em) {
  .personal-presentation {
    margin-top: 30vh;
  }

  .primary-header {
    height: 8vh;
  }
}

/* second navbar */
.secondary-navigation>ul {
  position: fixed;
  list-style-type: none;
  display: flex;
  gap: var(--size-300);
  justify-content: center;
  align-items: center;
  bottom: calc(var(--size-300) / 2);
  width: 100%;
}

.secondary-navigation::before {
  content: " ";
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--clr-accent-500);
  width: 100%;
  height: var(--size-500);
  border-radius: 3rem 3rem 0 0;
  box-shadow: 0 0 1rem .2rem rgb(0, 0, 0, 15%);
}

.secondary-navigation>ul>li>a>img {
  width: var(--size-400);
}

@media (min-width: 50em) {
  .secondary-navigation>ul {
    flex-direction: column;
    right: var(--size-300);
    width: var(--size-400);
  }

  .secondary-navigation::before {
    visibility: hidden;
  }
}