* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #0B0B0B;

}

:root {
    --black: #0B0B0B;
    --font-title: 'Playfair Display', 'Times New Roman', serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

h2{
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 34px;
}

a {
    visibility: hidden;
}

img {
    visibility: visible !important;
}

button {
    font-family: var(--font-title);
    font-weight: 500;
    text-align: center;
    font-size: 22px;
    height: 75px;
    width: 250px;
    border: solid var(--black) 3px;
    border-radius: 2px;
    background-color: #fff;
    margin: 0 30px;
}

button:hover {
    background-color: var(--black);
    color: #fff;
}

.buttons {
    width: fit-content;
    margin: auto;
    margin-top: 70px;
}

/** scroll bar **/
::-webkit-scrollbar {
    width: 0px;
  }
/** - - -**/

.section {
    scroll-snap-align: start;

}

.intro {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-top: 20vh;
}

.about {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    left: 0;

}
.projects {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 200vh;
    left: 0;
}

.contact {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 300vh;
    left: 0;
    overflow-y: hidden;
}

.intro h1 {
    font-family: var(--font-title);
    font-weight: 500;
    text-align: center;
    font-size: 13.2vw;
    overflow: hidden;
    white-space: nowrap;
}

.intro p {
    font-weight: 300;
    text-align: center;
    font-size: 3vw;
    margin-top: -1vw;
}

.flex-1 {
    display: flex;
    margin-top: 15vh;
    align-items: center;
}

.flex-2 {
    display: flex;
    position: absolute;
    right: 0;
    margin-top: 5vh;
    align-items: center;
}

.txt1 {
    margin-left: 18vw;
    margin-right: 10vw;
}

.txt2 {
    margin-left: 10vw;
    margin-right: 18vw;
}

.about p {
    width: 28vw;
}

.contact p {
    width: 24vw;
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 22px;
}

.contact p:first-child{
    margin-bottom: 5vh;
}

.contact h2 {
    text-align: center;
    margin-top: 18vh;
}

/** imgs **/

.notebook {
    height: 70vh;
}

.code {
    height: 45vh;
    min-height: 300px;
}

.txt1 a img {
    height: 50px;
    width: auto;
    margin-top: 50px;
    margin-right: 2vw;
}