* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #0B0B0B;

}

:root {
    --black: #0B0B0B;
    --libre-bodoni: 'Libre Bodoni', 'Times New Roman', serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.centralized {
    margin-left: 16.5vw;
    margin-right: 16.5vw;
}

button {
    font-family: var(--libre-bodoni);
    font-weight: 400;
    text-align: center;
    font-size: 22px;
    height: 75px;
    width: 250px;
    border: solid var(--black) 3px;
    border-radius: 2px;
    background-color: #fff;
    margin: 0 30px;
}

button:hover {
    background-color: var(--black);
    color: #fff;
}

.buttons {
    width: fit-content;
    margin: auto;
    margin-top: 70px;
}

.intro {
    background-color: dodgerblue;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.about {
    background-color: darkorange;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 100vh;
    left: 0;

}
.projects {
    background-color: darkolivegreen;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 200vh;
    left: 0;
}

.contact {
    background-color: darkred;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 300vh;
    left: 0;
}

.intro h1 {
    font-family: var(--libre-bodoni);
    font-weight: 400;
    text-align: center;
    font-size: 13.5vw;
    overflow: hidden;
    white-space: nowrap;
    margin-left: -2vw;
    margin-top: 20vh;
}

.intro p {
    font-weight: 300;
    text-align: center;
    font-size: 3vw;
    margin-top: -1vw;
}

.flex-1 {
    display: flex;
    margin-top: 15vh;
    align-items: center;
}

.txt {
    margin-left: 18vw;
    margin-right: 10vw;
}
.img{
    margin-right: 0;
}
.flex-1 h2{
    font-family: var(--libre-bodoni);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 34px;
}

.about p {
    width: 28vw;
}

/** imgs **/

.notebook {
    height: 70vh;
}

.txt a img {
    height: 50px;
    width: auto;
    margin-top: 50px;
    margin-right: 2vw;
}